<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content="GitLab Pages" />
    <title>Internationalized HTML site</title>
    <link rel="stylesheet" href="styles.scss" />
  </head>
  <body>
    <div id="app">
      <p>{{ $t('glory') }}</p>
      <button @click="changeLocale('ua')">Українська</button>
      <button @click="changeLocale('en')">English</button>
      <button @click="changeLocale('fr')">Français</button>
      <button @click="changeLocale('de')">Deutsch</button>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-i18n@9"></script>
    <script>
      const messages = {
        ua: {
          glory: "Слава Україні!",
        },
        en: {
          glory: "Glory to Ukraine!",
        },
        fr: {
          glory: "Gloire à l'Ukraine!",
        },
        de: {
          glory: "Ruhm der Ukraine!",
        },
      };

      const i18n = VueI18n.createI18n({
        locale: "en",
        messages,
      });

      const app = Vue.createApp({
        data() {
          return {
            currentLocale: "ua",
          };
        },
        methods: {
          changeLocale(locale) {
            this.currentLocale = locale;
            i18n.global.locale = locale;
          },
        },
      });

      app.use(i18n);

      app.mount("#app");
    </script>
  </body>
</html>
